@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
}


/* h2 */

h4 {
  font-size: 30px;
  
}


/* Header */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-title {
  flex: 1;
  display: flex;
  justify-content: left;
  margin-left: 40px;
}

.header-list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  font-size: 1.2rem;
}

.header-list li {
  padding-left: 10px;
  padding-right: 10px;
}

.header-list li a {
  
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.header-list li a:hover {
 color: #FF6B20; 
  cursor: pointer; 

}

.header-button {
  text-transform: uppercase;
  background-color: #ff6b20;
  border-radius: 20px;
  border-style: none;
  color: white;
  font-weight: bold;
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2rem;
  
}

.header-button:hover {
  background-color: #ce4500; 
  cursor: pointer; 
}

@media (max-width: 768px) {

 .header {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 30px; 
  margin-top: 30px;

 }

 .header-list li {
  display: flex; 
  flex-direction: column; 
  align-items: center; 

 }
.header-title {
  font-size: 3rem;
}

 .header-list li { 

  margin: 20px;
  font-size: 0.95rem;

 }
  
}

/* h1 */

h1 {
  font-size: 5rem;
  margin-top: 100px;
  margin-bottom: 8px;
}

h2 {
  font-size: 4rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5 {
  font-size: 2rem;
  margin-top: 0px;
  font-weight: 400;
}

h3{ font-size: 3rem;
  margin-top: 0px;
  font-weight: 400;

}

p{ font-size: 1.75rem;


}

/* Discover your furry soulmate */

.discover {
  display: flex;
  flex-direction: column-reverse; 
  margin-top:100px ;
  border-bottom: solid 0px #eae1df;
  margin-bottom: 64px;
  height: auto;
  background-color:;
}

.title-hero{
  display: flex; 
  flex-direction: column; 
  justify-content: left;
  margin-left: 100px; 
  
  margin-bottom: 20px; 
  margin-top: 0px;
}

.discover button {
  background-color:  #ff6b20;
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
  border-style: none;
  padding: 32px;
  border-radius: 58px;
  justify-content: left;
  margin-left: 100px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2); 
}



.hero-image{
  display: flex;
  position: absolute;
  top: 250px;
  left: 900px;
  padding-bottom: 50px;
}
/* If the location is change sometimes it creates a weird spce at the right side */

.hero-image {
  height:80%;
}

@media (max-width: 768px) {
  .discover {
   
  }

  .title-hero {
    margin: 0px;
    margin-left: 20px;
    margin-right: 10px;

  }
  .hero-image {
    display:none; /* I made the image dissapear because it occupied to much space */
  }

  .discover button {
    margin: 10px 
  }
}



/* Shaking discover button */
.button-discover:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}



/* Meet our shelter sweethearts */

.shelter-sweatherts {

  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 0px #eae1df;
  height: 1000px;
  background-color: #33673B;

 
}

.shelter-box{
  margin-top: 150px;
}

.title-shelter {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
   
  
}

.title-shelter {
  text-align: center; 
  margin: 0px;
  margin-bottom: 32px; 
  color: #ffffff;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .title-shelter {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    
  }

  .shelter-sweatherts{
    height: fit-content;
  }
}


.shelter-sweatherts ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  
}

@media (max-width: 768px) {
  .shelter-sweatherts ul {
    flex-direction: column;
    display: flex;
    align-items: center;
  
  }
}


.shelter-card {
  width: 50vw;
  max-width: 320px;
  height: 400px;
  flex-shrink: 1;
  background-color: #ffffff;

  margin: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shelter-card:hover {
  background-color: #d1dece; 
  cursor: pointer; 
}

@media (max-width: 768px) {
  .shelter-card {
    align-items: center;
    width: 50vw; 
    height: 40vh; 
  }
}



.shelter-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shelter-img {
  width: 20vw;
  max-width: 120px;
  height: auto;
  padding-bottom: 20px;
}

a:link {
  text-decoration: none;
  text-align: bottom;
  text-transform: uppercase;
  color: #28522f;
  font-weight: bold;
  font-size: 2rem;
}

/* Happy tails */
.happy-tails {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #28522f;
  height: 800px;
  background-image: url(/images/paw-prints-trail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.title-tails{
  margin-top: 100px;
  align-self: center; 
  

}
.story-1 {
  display: flex;
  background-color: #d1dece;
  width: 100vh;
  height: 50vh;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.story-1-photo {
  height: 50vh;
  width: auto;
  border-radius: 10px;
}

.story-1-info {
  padding-left: 20px;

}

.story-1-info div {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: solid;
}

.story-1-info p {
  color: black;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.2;
}

@media (max-width: 768px) {

  .happy-tails {
    height: auto; 
    background-size: contain; 
  }

  .title-tails {
    margin-top: 50px; 
    margin-left: 50px;
  }

  .story-1 {
    display: block; 
    width: 85%; 
    height: auto; 
    align-items: center;
    
  }

  .story-1-photo {
    width: 100%; 
  }

  .story-1-info {
    padding: 20px; 
  }

  .story-1-info div,
  .story-1-info p {
    font-size: 1.5rem; 
  }
}

/* FOster program */
.foster-program {
  background-color: #eae1df;
  background-image: url(images/foster-img.png) ;
  background-size: cover;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}



.foster-program button {
  background-color: #ffffff;
  border-radius: 30px;
  border-style: none;
  font-size: 1.75rem;
  padding: 32px;
  font-weight: bold;
  color:#28522f;
  margin-top: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.foster-program button:hover {
  background-color: #28522f; 
  color: #ffffff;
  cursor: pointer; 
}

@media (max-width: 768px) {
  .foster-program {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 40px;
    
  }

  .foster-program button {
    
    align-items: center;
  
  }
}

/* Donate */

.donate {
  display: flex;
  justify-content: center;
  background-color: #BAD7F2;
  height:600px;
}
.donate-window {
  width: 500px;
  height: 300px;
  background-color: #ffffff;
  color: #28522f;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.donate-text {
  margin-left:40px ;
  margin-right:40px ;
}

.donate-window button {
  background-color: #ff6b20;
  border-style: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.donate-window button:hover {
  background-color: #ce4500; 
  color: #ffffff;
  cursor: pointer; 
}

@media (max-width: 768px) {
  .donate-window{
    

    flex-direction: column;
    display: flex;
    align-items: center;
    width: 75%;
    
  }

  .donate-text {
    margin-left: 10px;
    margin-right: 10px;

  }

  .donate-window button {
    
    align-items: center;
  
  }

}

/* Let's keep in touch */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 100px;
  margin-bottom: 80px;
  height: fit-content;
}

.news-box{ 
  margin-top: 60px;

}

.news-text{
  margin-bottom: 25px;

}

.news-box { 
  width:1000px ;

}

.news-sub {
  display: flex; 
  align-items: center; 
  margin: 0 auto; 
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #f5f5f5; 
}

.news-sub input,
.news-sub button {
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  margin-right: 10px; 
  font-size: 1.2rem;
}

.news-sub input{ 
  padding: 20px;
  width: 500px;

}

.news-sub button {
  background-color: #28522f; 
  color: #fff;
  font-weight: bold; 
  cursor: pointer;
  padding: 20px; 
}



@media (max-width: 768px) {
  

  .news-box {
  
    flex-direction: column;
    display: flex;
    align-items: left;
    width: 90%;
   
   
    margin-left: -20px;
    margin-right: 10px;

  }

  .news-sub input{
    flex-direction: column;
    display: flex;
    align-items:left;
    width:20%;

  }
}





/* Footer */

.footer {
  box-sizing: border-box;
  background-color: #28522f;
  color: #eae1df;
  height: 400px;
  margin-top: 100px;
  width: 100%;
  padding: 80px 15%;
  /* padding-left: 15%; */
  /* padding-right: 15%; */
  display: flex;

}

.footer div {
  text-align: center;
}

.col-1 p {
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.3em;
}

.col-2{
  flex-grow: 2;
}

.col-2 a{
  display: block;
  margin-bottom: 10px;
  color: #eae1df;
  font-weight: 300;
  text-transform: none;

}

.top-button {
  border-style: none;
  background-color: #28522f;
  padding: 0;
  margin: 2em;
}

.top-button img {
  height: 50px;
  width: auto;
  background-color: #28522f;
}

.footer div h3 {
  font-weight: 600;}

  @media (max-width: 768px) {
    .footer div { /* Stack elements on small screens */
      text-align: left;
      margin-bottom: 0; /* Remove spacing between divs on small screens */
    }
  
    .col-1,
    .col-2 {
      flex: 1; /* Make columns take up full width on small screens */
      
    }
    .footer div h3 {
      font-size: 1.2rem;
      padding-right: 30px;
    }

    .col-1 p,
    .col-2 a{
      font-size: 1rem;
      padding-right:20px ;
    }
    
  }